@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
}

.scroll-container {
  position: relative;
  left: -2px;
  background-color: #f4f6f9;
  height: 120vh; /* Adjust height as needed */
  width: 100%;
  max-width: 66.666%; /* Equivalent to md:w-2/3 */
  padding-top: 2px; /* Adjust padding as needed */
  overflow-y: scroll;
}

/* Hide scrollbar for Firefox */
.scroll-container {
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for WebKit browsers */
.scroll-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
